body {
    font-family: 'Open Sans', sans-serif;
    /* font-size: 16px; */
    /* line-height: 1; */
  }

header {
    background-color: #eceff0;
}

.navbar {
    background-color: #007a54;
  
    /* padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem; */
    
}

.navbar a {
    color:blanchedalmond;
}



h1 {
    font-size: 2.0em;
    /* line-height: 80px; */
    padding-left: 1.5rem;
    text-align: center;
    color: blanchedalmond;
}

h2 {
    font-size: 1.4em;
    line-height: 3em;
    text-align:center;
}

/* .col-form-label {
    font-size: 16px;
    font;
} */

/* .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  } */

div.col-sm-10 {
    padding-top: 5px;
    padding-bottom:5px;
}

table.table-hover tbody tr:hover {
    background-color:#FFFFE0;
}

th {
    background-color: #007a54 !important;
    color: blanchedalmond !important;
}

.delete {
    height: 20px;
    width: 20px;
    display: none;
}

.edit {
    height: 16px;
    width: 16px;
    padding-right: 5px;
    display: none;
}

.edit-big {
    margin-right: 5px;
}

.view-permits {
    margin-top: 5px;
}

.btn-success {
    /* height: 100px; */
    /* margin-top: 5px; */
    width: 100px;
    font-size: 14px;
    background-color: #007a54;
}

.button-group {
    padding: 20px;
}

.bottom-btn {
    width: 150px;
    font-size: 16px;
}


@media all and (max-width: 980px) {

H1 {
    font-size: 22px;
}

H2 {
    font-size: 18px;
}

.log-out {
    font-size: 16px;
}

  
}
@media all and (max-width: 640px) {

}


