body {
    font-family: 'Open Sans', sans-serif;
  }

header {
    background-color: #eceff0;
}

.navbar {
    background-color: #007a54; 
}

.navbar a {
    color:blanchedalmond;
}
.table {
    --bs-table-hover-bg: rgba(255, 255, 205, 0);
}


h1 {
    font-size: 2.0em;
    /* line-height: 80px; */
    padding-left: 1.5rem;
    text-align: center;
    color: blanchedalmond;
}

h2 {
    font-size: 1.4em;
    line-height: 3em;
    text-align:center;
}

label.col-sm-2.col-form-label {
color: #015F42;
font-weight: bold
}

legend.col-form-label.col-sm-2.pt-0 {
    color: #015F42;
    font-weight: bold
    }

div.col-sm-10 {
    padding-top: 5px;
    padding-bottom:5px;
}

table.table-hover tbody tr:hover {
    background-color:#FFFFE0;
}

th {
    background-color: #007a54 !important;
    color: blanchedalmond !important;
}

.permits, .envelopes, .statuses {
    text-align: center;
    width: 20%;
}


.delete {
    height: 20px;
    width: 20px;
}

.edit {
    height: 16px;
    width: 16px;
    padding-right: 5px;
    display: none;
}

.edit-big {
    margin-right: 5px;
}

.view-permits {
    margin-top: 5px;
}

.add {
    display: none;
    height: 24px;
}

.btn-success {
    width: 100px;
    font-size: 14px;
    background-color: #007a54;
}

.button-group {
    padding: 20px;
}

.bottom-btn {
    width: 150px;
    font-size: 16px;
}

.form-control:focus, .form-select:focus, .form-check-input:focus {
    border-color: rgba(0, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

@media all and (max-width: 980px) {

H1 {
    font-size: 22px;
}

H2 {
    font-size: 18px;
}

.log-out {
    font-size: 16px;
}

  
}
@media all and (max-width: 640px) {
 .remove {
        display:none;
    }

    .permits, .envelopes, .statuses {
        width: 5%;
        vertical-align: middle;
    }

    .add {
        display: inline-block;
        height: 24px;
    }

    .add-btn {
        display:none;
    }
}


