body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

header {
    background-color: #eceff0;
}

.navbar {
    background-color: #007a54;
  
    /* padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem; */
    
}

.navbar a {
    color:blanchedalmond;
}

nav.navbar-brand.mb-0 {
   /* text-align:right;
   color: #fff; */
}

h1 {
    font-size: 2.0em;
    /* line-height: 80px; */
    padding-left: 1.5rem;
    text-align: center;
    color: blanchedalmond;
}

h2 {
    font-size: 1.4em;
    line-height: 3em;
    text-align:center;
}

table.table-hover tbody tr:hover {
    background-color:#FFFFE0;
}

.table thead th {
    vertical-align: middle;
    line-height: 20px;
}



th {
    /* text-align: center; */
}

/* td.drag {
    background-image: url("img/draggable-blue.png");
} */

/* td {
    text-align:center;
} */

th.position {
    color:#999;
    text-align: right;
}

th.type-small {
 
    text-align: left;
}

select {
    display: none;
}


div.handle {
    /* background-image: url('img/draggable-blue.png') no-repeat 6px 9px; */
    /* background-image: url("img/arrows-move-grey.svg") no-repeat 6px 9px; */
    /* height: 13px;
    /* margin: -0.4em 0.5em; */
    /* padding: 0.42em 0.5em;  */
    /* width: 13px; */
    cursor: move;
}

img.drag-blue {
    height: 16px;
    width: 16px;
    vertical-align: top;
    margin-top: 2px;
}

img.dot {
    height: 12px;
    width: 12px;
    /* padding-top: 3px; */
    vertical-align: middle;
}

td.q-name {
line-height:20px !important;
}

.btn-success {
    background-color: #007a54;
}

a.edit-small {
    display:none;
}

a.remove-small {
    display:none;
}

@media all and (max-width: 980px) {

H1 {
    font-size: 22px;
}

H2 {
    font-size: 18px;
}

.log-out {
    font-size: 16px;
}

    .table thead th {
    font-size: 16px !important;
    /* padding:2px */
}

/* th td td.dot td.position {
    padding: 0px;
} */

.table tr td  {
    font-size: 16px !important;
    /* padding-right:2px;
    padding-left:2px; */
    width:fit-content;
    
}

.table thead th {
    vertical-align: top;
    line-height: 16px;
    width:fit-content;
}

td {
    width:fit-content;
}

th {
    font-size: 16px;
    font-weight: bold;
    padding:2px;
}

/* .approved {
   
} */

th.position   {
    font-size: 16px;
    /* padding:2px; */
    /* display: none; */
}

.th-position {
    display:none;
}

img.drag-blue {
    height: 12px;
    width: 12px;
    vertical-align: top;
    margin-top: 3px;
}

img.dot {
    height: 8px;
    width: 8px;
    /* padding-top: 3px; */
    vertical-align: middle;
}

td.dot {
    width:fit-content;
}

caption {
    font-size: 16px;
}

button.btn.btn-success {
    width:125px;
    font-size: 16px;
}

button.btn.btn-secondary {
    width:125px;
    font-size: 16px;
}

/* th.operations {
    visibility: hidden;
} */

th.type {
    display:none;
}

/* th.type-small {
    
} */

td.big-permits {
    display:none;
}

.big-type {
    display: none;
}

/* .mobile-default {
    text-align:center
} */

a.edit-big {
    display:none;
}

a.remove-big {
    display:none;
}

a.edit-small {
    display:inline;
    height: 16px;
    width: 16px;
}

.edit {
    height: 16px;
    width: 16px;
    padding-right: 5px;
}

a.remove-small {
    display:inline;

}

select {
    display: inline-block;
}

.view-types {
    font-weight: bold;
}

.delete {
    height: 16px;
    width: 16px;
}

/* td.position th.th-position {
    display: none;
} */
}
@media all and (max-width: 640px) {
    th.position   {
        /* font-size: 12px; */
        /* padding:2px; */
        display: none;
    }
}


