body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

header {
    background-color: #eceff0;
}

.navbar {
    background-color: #007a54;
  
    /* padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem; */
    
}

.navbar a {
    color:blanchedalmond;
}

nav.navbar-brand.mb-0 {
   /* text-align:right;
   color: #fff; */
}

h1 {
    font-size: 2.0em;
    /* line-height: 80px; */
    padding-left: 1.5rem;
    text-align: center;
    color: blanchedalmond;
}

h2 {
    font-size: 1.4em;
    line-height: 3em;
    text-align:center;
}

table.table-hover tbody tr:hover {
    background-color:#fffbdd;
}

.table thead th {
    vertical-align: middle;
    line-height: 20px;
}

th {
    /* text-align: center; */
}

/* td.drag {
    background-image: url("img/draggable-blue.png");
} */

/* td {
    text-align:center;
} */

th.position {
    color:#999;
    text-align: right;
}


div.handle {
    /* background-image: url('img/draggable-blue.png') no-repeat 6px 9px; */
    /* background-image: url("img/arrows-move-grey.svg") no-repeat 6px 9px; */
    /* height: 13px;
    /* margin: -0.4em 0.5em; */
    /* padding: 0.42em 0.5em;  */
    /* width: 13px; */
    cursor: move;
}

img.drag-blue {
    height: 16px;
    width: 16px;
    vertical-align: top;
    margin-top: 2px;
}

img.dot {
    height: 12px;
    width: 12px;
    /* padding-top: 3px; */
    vertical-align: middle;
}

td.q-name {
line-height:20px !important;
}